[Unit]
Description=Zrok Server Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/zrok share reserved %i --headless

[Install]
WantedBy=multi-user.target
